* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    border: 1px solid black;
    margin: 10% auto;
    width: 900px;
    height: 400px;
    padding: 15px;
}

.cow img:hover {
    transform-origin: top left;
    transform: scale(2, 3);
}

.dre img:hover {
    transform: scale(2.5, 3);
}

.flow img:hover {
    transform-origin: top right;
    transform: scale(2, 3);
}