* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid black;
    margin: 10% auto;
    width: 900px;
    height: 400px;
    padding: 15px;
}

.ton:hover img {
    transform-origin: top left;
    transform: rotate(120deg) scale(1.5, 1.5);
    border: 1px solid black;
    background-color: bisque;
    padding: 20px;
}

.whi:hover img {
    transform-origin: center center;
    transform: rotate(180deg) scale(2.5, 2.5);
    background-color: bisque;
    padding: 20px;
}

.cow:hover img {
    transform-origin: bottom right;
    transform: rotate(150deg) scale(1.5, 1.5);
    border: 1px solid black;
    background-color: bisque;
    padding: 20px;
}